*{
    margin: 0;
    padding: 0;
    font-family :'Poppins', Sans-serif;
}
header{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px 50px;
    background-color: #1e293b;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    header{
        height: 200px;
        padding-left: 5px;
        padding-right: 5px;
        gap: 5px;
    }
}
#container{
    display: flex;
    justify-content: center;
    gap: 15px;
}
h1{
    font-size: 30px;
    /* margin-top: 12px; */
}
#si{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.search{
    flex: 1;
    /* width: 500px; */
    height: 40px;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}
.icon{
    height: 33px;
    margin-left: 10px;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 350;
    color: white;
    /* margin-right: 10px; */
}
a:hover{
    /* text-decoration: underline;
    text-decoration-color:rgb(194, 194, 193); */
    color: rgb(194, 194, 193);
}
#divcon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    height: 595px;
    width: 450px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .card{
        width: 80%;
    }
}
.div1{
    margin-bottom: 50px;
    width: 480px;
}
#d1img{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.d1imgs{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 1px rgb(212, 211, 211);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.watch{
    width: 100%;
    height: 89%;
    background-image: url(watch.webp);
    background-size: cover;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(218, 217, 217);
}

.div2{
   padding: 10px 20px;
   color: #1e293b;
    box-shadow: 0 0 20px 1px rgb(212, 212, 212);
}

.div2 h2{
    margin-top: 10px;
    margin-bottom: 2px; 
    font-size: 40px;
    font-weight: 700;
}
.div2 h5{
    color: #2d3a50;
    font-size: 16px;
    margin: 5px 0;
    text-transform: uppercase;
}
#amount{
    font-size: 21px;
    margin: 10px 0;
    color: #2d3a50;
}
h4 #c_amount{
    color: #2d3a5098;
    text-decoration: line-through;
    margin: 0px 4px 0px 4px;
    margin-top: 3px;
}
h4 #disc{
    font-weight: 300;
}
.div2 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 545;
    line-height: 22px;
    color: #2d3a50;

}
.div2 #rating{
    margin-top: 8px;
    border: none;
    font-size: 20px;
    background-color: white;
    color: rgb(206, 202, 4);
}
.div2 #rate{
    font-size: 20px;
    margin-left: 8px;
    color: #334461;
}
.div2 .but{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #1e293b;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
}
.div2 .but:hover{
    background-color:#27364f ;
    color: white;
}
.div2 .but2{
    background-color: white;
    color: #1e293b;
}
.div2 #addtobag{
    background-color: #1e293b;
    border: none;
    width: 99%;
    height: 50px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    font-weight: 700px;
}
.div2 #addtobag:hover{
    background-color:#27364f ;
}
.div2 #d2c{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(230, 229, 229);
    margin-top: 10px;
    font-size: 20px;
}
.div2 #d2b{
    background-color: #1e293b;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    color: white;
    font-family: sans-serif;
    font-weight: 550;
}
.div2 #d2b:hover{
    background-color:#27364f ;
}




